.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.chartContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.graphContainer {
    width: 100%;
}
